<h3>
    List of Parkas
</h3>
<table>
    <tr *ngFor='let parka of _response'>
        <td><b>Name</b><br> <input #name type="text" name="itemName" ng-model="item.name" required value={{parka.name}}></td>
        <td><b>Price</b><br><input #price type="text" name="itemPrice" ng-model="item.price" required value={{parka.price}}></td>
        <td><b>Quantity</b><br><input #quantity type="text" name="itemQuantity" ng-model="item.quantity" required value={{parka.quantity}}></td>
        <td><b>Description</b><br><input #description type="text" name="itemDescription" ng-model="item.descript" required value={{parka.descript}}></td>
        <td><b>Comments</b><p>{{parka.comments}}</p></td>
        <td><b>Ratings</b><p>{{parka.ratings}}</p></td>
        <td><b>Modify</b><br>
        <button (click)="editParkaData(parka._id, name.value, price.value, quantity.value, description.value)">Save</button>
        <button (click)="deleteParkaData(parka._id)">Delete</button>
        </td>
      
    </tr>
</table>

<button (click)="onClick()">Get Parkas</button>

<h3>
    Add a New Parka
</h3>

<input #name type="text" placeholder="Parka Name"/><br><br>
<input #price type="text" placeholder="Price" /><br><br>
<input #quantity type="text" placeholder="Quantity" /><br><br>
<input #description type="text" placeholder="Description" /><br><br>
<button (click) = "addParka(name.value, price.value, quantity.value, description.value)">Add</button>

<app-retrieveusers></app-retrieveusers>

<app-policy></app-policy>