<h3>About</h3>
<p>PARKA Store is a website dedicated to selling PARKA jackets from a variety of different brands and prices.
Users can view different PARKAs and acquire them, if they so choose to. Sign Up to view exclusive Parkas. Click below to login.</p>
<button (click)="loginClick()">Login</button>
<button (click)= "retrievePolicies()">View Policies</button>
<br><br><br>
<h3>Popular List of Purchasable Items</h3>
<ol>
    <li *ngFor="let parka of _response | slice:0:10; let i=index">
        {{parka.name}} </li>
</ol>

<h3>Entire Catalog of Purchasable Items</h3>

   <table border ="1" class = "listOfItems" *ngFor="let itemClicked of _response" [class.selected] = "itemClicked === selectedItem" (click) = "onSelect(itemClicked)">
      <tr>
       <td><b>Name</b><br>{{itemClicked.name}}</td>
       <td><b>Quantity</b><br>{{itemClicked.quantity}}</td><br>
       <td><b>Number of Sales</b><br>{{itemClicked.numberOfSales}}</td>
       <td><b>Description</b><br>{{itemClicked.descript}}</td><br>
       </tr>
    </table>

<ng-container *ngIf = "showSelected">
        <div ng-repeat = "let itemsSelected of reviewsRetrieved">
            <h2>Invoice of your purchases</h2>
             <h3>{{itemSelect.name}}</h3>
            <b>Price</b><br>{{itemSelect.price}}<br>
            <b>Description</b><br>{{itemSelect.descript}}<br><br>
            <h3><b>Reviews For This Product</b><br></h3>
                    <b>Rating:</b><br>{{itemSelect.ratings}}<br>
                    <b>Comment:</b><br> {{itemSelect.comments}}<br><br>
        </div>
</ng-container>