<h2>Welcome!</h2>
<button (click) = "logOut()">Log Out</button>
<button (click) = "retrievePolicies()">View Policies</button>


<h3>Shopping Cart</h3>
<br>
<table *ngFor="let itemInCart of cartResponse">
    <tr>
        <td><b>{{itemInCart.name}}</b></td>
        <td><b>{{itemInCart.price}}</b></td>
        <td><b>{{itemInCart.quantity}}</b></td>
        <td><input type="number" #edited min="1" placeholder="{{ itemInCart.quantity }}"></td>
        <td><button (click) = "eQuantityofItem(itemInCart.quantity, itemInCart.name)">Add to Cart</button></td>
        <td><button (click) = "removeItems(itemInCart.name)">Remove Item</button></td>
        <td><button (click) = "eCart()">Empty Cart</button></td>
        <td><p>Total: {{totalNumber}}</p></td>
        <td><button (click) = "acquireItemsFromCart()">Buy Items in Cart</button></td>
    </tr>
</table>

<div *ngIf="acquired">
    <table *ngFor = "let acquiredItem of invoiceOfCart">
        <td><b>{{acquiredItem.name}}</b></td>
        <td><b>{{acquiredItem.price}}</b></td>
        <td><b>{{acquiredItem.quantity}}</b></td>
        <td><b>Invoice Total Amount: {{invoiceTotal}}</b></td>
      
</table>
</div>
<button>Empty Cart</button>
<button>Remove From Cart</button>
<h3>Entire Catalog of Purchasable Items</h3>
   <table border ="1" class = "listOfItems" *ngFor="let itemClicked of _retrieveItems" [class.selected] = "itemClicked === selectedItem" (click) = "onSelect(itemClicked)">
      <tr>
       <td><b>Name</b><br>{{itemClicked.name}}</td>
       <td><b>Quantity</b><br>{{itemClicked.quantity}}</td><br>
       <td><b>Number of Sales</b><br>{{itemClicked.numberOfSales}}</td><br><br>
       <td><b>Description</b><br>{{itemClicked.descript}}</td>
       <td><b>Options</b><br><input #newQuantity placeholder="# of items"><button (click) ="appendItemToCart(itemClicked.price,itemClicked.name,newQuantity.value,itemClicked.quantity)">Add to Cart</button><button>Add to Collection</button></td>
       </tr>
    </table>

<ng-container *ngIf = "showSelected">
        <div ng-repeat = "let itemsSelected of reviewsRetrieved">
             <h3>{{itemSelect.name}}</h3>
            <b>Price</b><br>{{itemSelect.price}}<br>
            <b>Description</b><br>{{itemSelect.descript}}<br><br>
            <h3><b>Reviews For This Product</b><br></h3>
                    <b>Rating:</b><br>{{itemSelect.ratings}}<br>
                    <b>Comment:</b><br> {{itemSelect.comments}}<br><br>
            <h3>Submit a Review for this Item</h3>
            <h4>Username</h4>
            <input #userField type="text" placeholder="Enter a username!">
            <h4>Comment</h4>
            <input #commentField type="text" placeholder="Enter a comment!">
            <h4>Rating (Out of 5)</h4>
            <select #ratingSelected>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select><br><br>
            <button (click) = "submitComment(itemSelect.name, userField.value, commentField.value, ratingSelected.value)">Submit Comment</button>
        </div>
</ng-container>
